<div class="col-xs-12 col-centered">
    <div class="row row-centered">
        <div class="col-xs-3" id="left">
            <p class="medium bold left">Rooms</p>
            <div class="clearfix"></div>
<!--             <ul class="pointer">
              <li ng-repeat="room in rooms">
                <span>{{room.name}}</span>
              </li>
            </ul>  -->  
            <a ng-repeat="room in rooms" ng-click="getMessages(room.$id)" class="btn btn-block btn-default btn-lg">{{room.name}}</a>
            <a ng-click="open()" class="btn btn-block btn-primary">Add room</a> 
            <p></p>               
        </div>
        <div class="col-xs-6 center-block">
            <p class="medium bold left">Messages</p>  


            <div id="room">
              <h4>{{roomName}}</h4>
            </div>
            <div id="nomessages" ng-show="!roomSelected">
              <h4>Select a room from the left column.</h4>
            </div>

            <div ng-show="roomSelected">
              <div class="repeated-item panel" ng-repeat="message in messages" ng-class-odd="'panel-success'" ng-class-even="'panel-danger'">
                <div class="panel-heading">{{message.username}}<span class="pull-right">{{message.sentAt | asDate | date:'medium'}}</span></div>
                <div class="panel-body">
                  <span class="lead">{{message.content}}</span> 
                </div>
              </div> 
              <button class="btn btn-block btn-primary btn-lg" ng-click="openMessage()">Add message</button>  
            </div>




            <div class="clearfix"></div>    
        </div>
        <div class="col-xs-3">             

        </div>
    </div>
</div>
<div class="clearfix"></div> 

<script type="text/ng-template" id="newRoom.html">
    <div class="modal-header">
        <h3 class="modal-title">Create a new chat room</h3>
    </div>
    <div class="modal-body">
        <input id="new-room" placeholder="New room name?" ng-model="newRoom" autofocus>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Create room</button>
    </div>
</script>
