        <div class="col-xs-12 col-centered">
            <div class="row row-centered">
                <div class="col-xs-3" id="left">
                    <p class="medium bold left">Rooms</p>
                    <div class="clearfix"></div>
                    <ul class="pointer">
                      <li ng-repeat="room in rooms">
                        <span>{{room.name}}</span>
                      </li>
                    </ul>                   
                </div>
                <div class="col-xs-6 center-block">
                    <p class="medium bold left">Messages</p>                
                    <div class="clearfix"></div>    
                </div>
                <div class="col-xs-3">             

                </div>
            </div>
        </div>
        <div class="clearfix"></div> 
